<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            color: grey;
        }
        .header{
            background-color: rgb(128, 128, 128);
            width: 100%;
            height: 20px;
        }
    </style>
</head>
<body>
    <div class="header"></div>
    <h1>Welcome to EraShop!</h1>
    <p>Style</p>
</body>
</html>