<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
      *{margin: 0; padding: 0;}
      .frame{background-color: #E8E8E8; width: 100%; height: 60px;}
      .flex{display: flex; flex-direction: column; width: 360px;}
      .main{text-align: center;}
      .flexTwo{align-items: center; justify-content: center; margin:auto;}
      p{margin: 25px; font-family: "Raleway", sans; font-weight: 500;}
    </style>
</head>
<body>
  <div class="flex">
        <div class="frame">
        </div>
        <div class="main">
          <div class="text">
            <p><strong>Your account has been created</strong></p>
            <p>We are glad that you chose EraShop!</p>
            <p>Your can always change your information in <i>Account Setting tabs</i></p>
            <p>If this wasn't you, then you may want to <a href="email@example.com">contact us</a></p>
          </div>
        </div>
        <div class="frame">
        </div>
    </div>
</body>
</html>
